@mixin set-fonts($size: $base-font-size) {
  font-family: $base-font;
}

@mixin reset() {
  padding: 0;
  margin: 0;
}

@mixin hidden() {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
