$base-font: "Open Sans", "Arial", sans-serif;
$base-font-size: 14px;
$tablet-width: 660px;
$desktop-width: 1050px;
$font-color: #444444;
$grey: #e7e7e7;
$background-grey: #f9f9f9;
$furniture-color: #63d1bb;
$toys-color: #56c3b2;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
