.button {
  background-color: transparent;
  color: $font-color;
  border: 2px solid $font-color;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  font-size: 17px;
  min-height: 50px;
  min-width: 175px;
}
